<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui" />
	<title>{{ .Title }}</title>
	{{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
	{{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css" />
	<link rel="stylesheet" href="{{ "css/milligram.css" | relURL }}">
	<link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/prettify.css" />
	{{ range .Site.Params.customCSS -}}
		<link rel="stylesheet" href="{{ . | relURL }}?rnd={{ now.Unix }}">
	{{- end }}
	{{ with .OutputFormats.Get "RSS" -}}
		{{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
	{{- end }}
</head>
<body>
  <main class="wrapper">
	{{ partial "header" . }}
    {{ block "main" . }}{{ end }}
	{{ partial "footer" . }}
  </main>
</body>
</html>
